Makefile
Makefile.in
aclocal.m4
autom4te*.cache
config.*
configure
depcomp
install-sh
intltool-*
ltmain.sh
libtool
missing
mkinstalldirs
*.tar.gz
*.spec
compile

src/*.o
src/.deps
src/.libs
src/u2ps

po/Makefile.in.in
po/stamp-it
po/*.gmo
po/*.mo
po/POTFILES
po/cat-id-tbl.c
po/*.pot
po/stamp-cat-id
po/messages
po/missing
po/.intltool-cache*
po/po2tbl.sed.in

